@use "../abstract/" as *;
@use "../base/" as *;

.products {
    padding: 10rem 0;
    &__wrapper {
        display: flex;
        justify-content: space-evenly;
        @include mediaQuery(520px) {
            flex-direction: column-reverse;
            gap: 2rem;
        }
    }
    &__cards{
        @include grid(3,2rem);
        @include mediaQuery(520px) {
            @include grid(1,2rem);
           
        }
    }
    &__card {
        padding: 3rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border: solid 1px $clr-secondary;
        border-radius: 2rem;
        
        img {
            height: 10rem;
            width: 10rem;
        }
        &--btn {
            padding-top: 1rem;
        }
    }
    &__category {
        &--search {
            width: 14rem;
            background-color: $clr-dark;
            padding: 0.8rem 0.7rem;
            border-radius: 0.8rem;
             @include mediaQuery(520px) {
                width: 20rem;
            }
            input {
                background-color: transparent;
                color: $clr-light;
                &::placeholder {
                    color: $clr-light;   
                }   
            }
        }
        &--list {
            margin-top: 2rem;
            border-radius: 1rem;
            padding: 2rem;
            display: flex;
            gap: 1rem;
            flex-direction: column;
            h3 {
                border: solid 1px $clr-light;
                border-width: 0 0 1px 0;
                padding-bottom: 0.7rem;
                font-size: 1.5rem;
            }
            ul {
                display: flex;
                justify-content: space-between;
            }
        }
        &--search {
            i {
                @include mediaQuery(520px) {
                    position: relative;
                    left: 7rem;       
                }
            }
        }
    }
}

